*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica;
    background-color: #f0e6b0;
}
header{
    text-align: center;
    background: url(bg-real.webp);
    padding: 20px;
}

/*Tabelas */

#dif{
    background-color ;
}
img{
    width: 10%;
}

.tables {
    background-color: #F2D42F;
    width: 85%;
    padding: 10px;
    margin: 25px auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0.1em ;

}
table{
    width: 85%;
    margin: 15px auto;
    background-color: aliceblue;
}
table input{
    width: 100%;
    text-align: center;
    height: 100%;

}
table td{
    text-align: center;
}
/*Foooter*/


footer{
    text-align: center;
    background: url(bg-real.webp);
    height: 50px;
    
}
footer p{
    line-height: 50px;
}
/*Botoes*/

.btn{
    border: 2px solid;
    display: block;
    margin:5px auto;
    width: 150px;
    height: 40px;
    background-color: #F2D42F ;
    font-size: 1.1em;
    border-radius: 10px;
    
}

.btn:active{
    background-color: black;
    color: aliceblue;
}